:root {
  --color-dark: #111212;
  --color-white: #ffffff;
  --color-blue-700: #4788f5;
  --color-blue-800: #3070dd;
  --color-special: #d476f8;
  --color-red-700: #eb5757;
  --color-red-800: #db3c3c;

  --color-gray-1000: #4f4f4f;
  --color-gray-900: #828282;
  --color-gray-800: #bdbdbd;
  --color-gray-600: #e0e0e0;
  --color-gray-400: #ebebeb;
  --color-gray-100: #f2f2f2;
  --color-gray-50: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Roboto";
  src: url("../FONTS/Roboto-Thin.woff2") format("woff2"),
    url("../FONTS/Roboto-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../FONTS/Roboto-Light.woff2") format("woff2"),
    url("../FONTS/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../FONTS/Roboto-Regular.woff2") format("woff2"),
    url("../FONTS/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.sprite {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-dark);
  text-decoration: none;
}

a:hover {
  color: var(--color-blue-700);
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-left: 2px;
  margin-right: 2px;
  vertical-align: -0.125em;
}

.phone {
  color: var(--color-blue-700);
}

.header_row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-gray-600);
}

.header_top {
  padding: 12px 0px;
}

.header_bottom {
  justify-content: space-between;
  padding-bottom: 8px;
  padding-top: 8px;
}

.logo,
.language {
  flex: 0 0 20%;
}

.language {
  text-align: right;
}

.cart {
  display: flex;
  justify-content: center;
}

.contacts {
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
  height: 20px;
}

.nav {
  display: flex;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-dark);
}

.nav_item + .nav_item {
  margin-left: 40px;
}

.container {
  width: 1440px;
  max-width: 100%;
  padding: 0px 40px;
  margin: 0 auto;
}

.page-headline {
  padding: 70px 0px;
  text-align: center;
}

.headline {
  max-width: 650px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 42px;
  line-height: 54px;
  text-align: center;
  color: var(--color-dark);
  margin: 0 auto;
}

.headline::before {
  content: "shop";
  display: block;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-gray-900);
}

.headline_special {
  font-family: "Yesteryear", cursive;
  color: var(--color-special);
  font-size: 72px;
}

.product_actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.filters {
  display: flex;
}

.filter_item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-dark);
}

.filter_item + .filter_item {
  margin-left: 24px;
}
.filter_item.active {
  color: var(--color-blue-700);
}

.product_list {
  display: flex;
  gap: 24px 15px;
  flex-wrap: wrap;
}

.product_item {
  width: calc((100% - 15px * 4) / 5);
  text-align: center;
  padding-bottom: 16px;
}

.product_image {
  display: block;
  max-width: 100%;
  margin-bottom: 16px;
}

.product_title {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-dark);
}

.product_price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-gray-900);
}

.show_more {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 48px;
  padding-bottom: 120px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid var(--color-gray-600);
}

.footer_column {
  width: calc((100% - 40px * 4) / 3);
}

.messenger_logo {
  display: flex;
  justify-content: space-between;
  width: 16px;
}

.subscribe_field {
  line-height: 0;
  font-size: 0;
}

.footer_item + .footer_item {
  margin-top: 24px;
}

.p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: var(--color-dark);
}

.h3 {
  width: 160px;
  height: 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-dark);
  margin-bottom: 16px;
}

.categories,
.information {
  display: flex;
  flex-direction: column;
  width: calc((100% - 40px * 4) / 6);
}

.sitemap_item {
  width: 160px;
  height: 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-dark);
  margin-top: 16px;
}

.sitemap_item + .sitemap_item {
  margin-top: 8px;
}

.messenger_logo {
  margin-top: 32px;
}

.social_icon {
  width: 24px;
  height: 24px;
}

.social_icon + .social_icon {
  margin-left: 16px;
}

.product_card {
  display: flex;
  width: 1190px;
  max-width: 100%;
  margin-top: 80px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  gap: 0 85px;
}

.product_card_column {
  display: block;
}

.product_card_column_image {
  flex: 0 0 510px;
}

.product_card_image {
  width: 510px;
  max-width: 100%;
  height: auto;
}

.product_card_name {
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 42px;
  line-height: 54px;
  color: var(--color-dark);
  margin-bottom: 32px;
}

.product_card_price {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.old_price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-align: left;
  color: var(--color-gray-900);
}

.new_price {
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 56px;
  color: var(--color-dark);
}

.product_card_details {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
}

.product_card_details_column {
  display: flex;
  flex-direction: column;
}

.product_card_details_column + .product_card_details_column {
  margin-left: 40px;
}

.product_card_details_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: left;
  color: var(--color-dark);
  margin-bottom: 8px;
}

.product_card_details_value {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  color: var(--color-dark);
}

.product_card_description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  color: var(--color-gray-900);
  margin-bottom: 40px;
}

.add_button_container {
  display: flex;
  flex-direction: row;
}

.related_products {
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 40px;
}

.related_products_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  text-align: left;
  color: var(--color-dark);
  margin-bottom: 40px;
}

.email_field {
  width: 138px;
  height: 48px;
  border-color: var(--color-gray-600);
  border-width: 1px;
  padding-left: 10px;
}

.button_blue {
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 122px;
  height: 48px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-blue-700);
  cursor: pointer;
}

.email_field + .button_blue {
  margin-left: 0px;
}

.button_blue:hover {
  background-color: var(--color-blue-800);
}

.button_blue:disabled {
  background-color: var(--color-gray-600);
}

.product_card_amount {
  width: 124px;
  border-color: var(--color-gray-600);
  border-width: 1px;
  padding-left: 10px;
}

.button_red {
  display: inline-block;
  box-sizing: border-box;
  outline: none;
  border: none;
  width: 122px;
  height: 48px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-red-700);
  cursor: pointer;
}

.button_red:hover {
  background-color: var(--color-red-800);
}

.button_red:disabled {
  background-color: var(--color-gray-600);
}

.empty_cart_body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.empty_cart_body header,
.empty_cart_body footer {
  flex: 0 0 auto;
}

.empty_cart_body h1 {
  flex: 0 0 auto;
}

.empty_cart_body main {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  padding-bottom: 40px;
}

.cart_headline {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bag_empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1 1 100%;
}

h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}

.cart_icon_and_header {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.who_we_are {
  padding-left: 85px;
  padding-right: 85px;
  margin-top: 80px;
  margin-bottom: 120px;
}

.who_we_are_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  text-align: left;
  margin-top: 40px;
}

.who_we_are_header + .who_we_are_text {
  margin-bottom: 40px;
}

.history {
  display: flex;
  width: 1190px;
  max-width: 100%;
  margin-top: 80px;
  margin-bottom: 120px;
  margin-left: auto;
  margin-right: auto;
  gap: 0 85px;
}

.history_column {
  display: block;
}

.history_column_image {
  flex: 0 0 510px;
}

.history_image {
  width: 510px;
  max-width: 100%;
  height: auto;
}

.history_description {
  color: var(--color-gray-900);
}

.history_p1 {
  margin-bottom: 32px;
}

.history_p1:after {
  content: "";
  background-color: var(--color-gray-600);
  height: 1px;
  width: 74px;
  display: block;
  margin-top: 32px;
}

.our_team {
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 40px;
}

.team_image {
  display: block;
  width: 385px;
  max-width: 100%;
  margin-bottom: 16px;
}

.team_item {
  width: calc((100% - 15px * 2) / 3);
  text-align: center;
  padding-bottom: 16px;
  margin-bottom: 24px;
}

.statistics {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 64px;
  flex: 1 1 100%;
  background: var(--color-gray-100);
}

.statistics_column {
  display: flex;
  flex-direction: column;
  margin-top: 64px;
  margin-bottom: 64px;
}

.statistics_column + .statistics_column {
  margin-left: 120px;
}

.statictics_column_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.statictics_column_number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 44px;
  line-height: 56px;
}

.about_final_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 850px;
  max-width: 100%;
  padding: 0px 40px;
}

.bouqets_text {
  display: flex;
  flex: 1 1 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 54px;
  line-height: 70px;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 80px;
  width: auto;
  max-width: 850px;
}

.deliver_text {
  display: flex;
  flex: 1 1 100%;
  font-family: "Yesteryear";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 70px;
  text-align: center;
  color: var(--color-special);
  padding-left: 108px;
  padding-right: 108px;
  max-width: 100%;
  margin-bottom: 80px;
}

.go_to_shop {
  text-align: center;
  margin-bottom: 120px;
}

.order_header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  text-align: left;
  margin-bottom: 40px;
}

table {
  margin-bottom: 40px;
  width: 100%;
  border-collapse: collapse;
}

table th:first-child {
  width: calc((100% - (24px * 3 + 16px)) / 3);
  text-align: left;
  margin-right: 24px;
}
table th:nth-child(2) {
  width: calc((100% - (24px * 3 + 16px)) / 3);
  text-align: center;
  margin-right: 24px;
}
table th:nth-child(3) {
  width: calc((100% - (24px * 3 + 16px)) / 3);
  text-align: right;
  margin-right: 24px;
}

table th {
  height: 40px;
  vertical-align: middle;
  border-bottom: 1px solid var(--color-gray-600);
  padding-top: 12px;
  padding-bottom: 12px;
}

table td:first-child {
  width: calc((100% - (24px * 3 + 16px)) / 3);
  text-align: left;
  margin-right: 24px;
}
table td:nth-child(2) {
  width: calc((100% - (24px * 3 + 16px)) / 3);
  text-align: center;
  margin-right: 24px;
}
table td:nth-child(3) {
  width: calc((100% - (24px * 3 + 16px)) / 3);
  text-align: right;
  margin-right: 24px;
}

table td {
  height: 178px;
  vertical-align: middle;
  border-bottom: 1px solid var(--color-gray-600);
  padding-top: 16px;
  padding-bottom: 16px;
}

.table_column_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-gray-900);
}

.delete_column {
  width: 16px;
}

.cart_content_product {
  display: flex;
  align-items: center;
}

.cart_content_product_img {
  height: 146px;
  margin-right: 24px;
}

.cart_content_product_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-dark);
  text-align: left;
  vertical-align: middle;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--color-dark);
}

.order_bottom {
  display: flex;
}

.order_notes_textbox {
  display: flex;
  width: 100%;
  max-width: 100%;
  height: 138px;
  border: 1px solid var(--color-gray-600);
  padding: 16px;
  margin-bottom: 120px;
  vertical-align: top;
}

.order_notes_textbox::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-gray-900);
}

.order_bottom_left {
  width: calc((100% - 84px) / 2);
}

.order_bottom_right {
  width: calc((100% - 84px) / 2);
  text-align: right;
}

.total {
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: right;
  margin-bottom: 8px;
}

.normal {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: right;
  color: var(--color-gray-900);
  margin-bottom: 24px;
}

.input {
  padding: 8px 16px 8px 16px;
  outline: none;
  box-shadow: none;
  border: 1px solid var(--color-gray-600);
}

.checkout_body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.checkout {
  display: flex;
  flex-direction: row;
  margin-bottom: 64px;
}

.checkout_column {
  display: flex;
  flex-direction: column;
  width: calc((100% - 84px) / 2);
}

.checkout_column + .checkout_column {
  margin-left: 84px;
}

.form_column {
  display: flex;
  flex-direction: row;
}

.half_field {
  width: calc((100% - 24px) / 2);
}

.half_field + .half_field {
  margin-left: 24px;
}

.field {
  width: 100%;
}

.first_name,
.last_name,
.phone_number,
.email_address {
  display: flex;
  padding: 12px 16px;
  gap: 8px;
  width: 100%;
  height: 48px;
  border: 1px solid var(--color-gray-600);
  border: 1px solid var(--color-gray-600);
  margin-top: 4px;
  margin-bottom: 24px;
}

.company_name,
.street_address,
.country_name {
  display: flex;
  padding: 12px 16px;
  gap: 8px;
  width: 100%;
  height: 48px;
  border: 1px solid var(--color-gray-600);
  margin-top: 4px;
  margin-bottom: 24px;
}

.grey_area {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 24px 24px 24px 24px;
  background: var(--color-gray-50);
}

.inside_grey_area {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.checkout_body table {
  width: 100%;
  margin-bottom: 40px;
}

.checkout_body table th {
  height: 40px;
  vertical-align: middle;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid var(--color-gray-50);
}

.checkout_body table th:nth-child(2) {
  text-align: right;
}

.checkout_body table td {
  height: 52px;
  vertical-align: middle;
  border-bottom: 1px solid var(--color-gray-50);
  padding-top: 16px;
  padding-bottom: 16px;
}

.checkout_body table td:nth-child(2) {
  text-align: right;
}

.white_area {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: var(--color-white);
  border: 1px solid var(--color-gray-600);
  padding: 24px 24px 24px 24px;
}

.radio_button {
  display: none;
}

.radio_label + .radio_label {
  margin-top: 16px;
}

.radio_label::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 18px;
  position: relative;
  left: 0;
  bottom: 1px;
  background: url(/IMAGE/radio-1.png) 0 0 no-repeat;
}

.radio_button:checked + .radio_label::before {
  background: url(/IMAGE/radio-2.png) 0 0 no-repeat;
}

.button_order {
  width: 82px;
  margin-top: 24px;
}

.order_div::before {
  display: block;
  content: "";
  border: 1px solid var(--color-gray-600);
  margin-top: 24px;
}

@media (max-width: 989px) {
  .product_card {
    flex-direction: column;
    gap: 80px 0;
  }

  .product_card_details {
    flex-direction: column;
  }

  .product_card_details_column + .product_card_details_column {
    margin-left: 0;
    margin-top: 40px;
  }

  .product_card_column_image {
    flex: 0 0 auto;
  }

  .product_list {
    flex-direction: column;
  }

  .product_item {
    width: auto;
  }

  .product_image {
    display: inline-block;
  }

  .subscribe {
    flex-direction: row;
    width: 100%;
  }

  .history {
    flex-direction: column;
    gap: 80px 0;
  }

  .history_column_image {
    flex: 0 0 auto;
  }

  .team_image {
    display: inline-block;
  }

  .team_item {
    width: auto;
  }

  .statistics {
    flex-direction: column;
  }

  .statistics_column {
    width: auto;
    justify-content: center;
    text-align: center;
  }

  .statistics_column + .statistics_column {
    margin-left: 0px;
    margin-top: 40px;
  }

  .footer {
    flex-direction: column;
  }

  .footer_column {
    width: 100%;
  }

  .order_bottom {
    flex-direction: column;
    margin-bottom: 80px;
  }

  .order_bottom_left {
    width: 100%;
  }

  .order_bottom_right {
    width: 100%;
  }

  .order_notes_textbox {
    width: 100%;
  }
}
